<template>
  <div class="hello" style="text-align: left">
    <div>
      <h1>{{ title }}</h1>
      <p>Get your best price of NIKI. (Data refresh at every 5s)</p>
    </div>
    <table>
      <thead>
      <tr>
        <th style="width: 250px">Model</th>
        <th style="width: 250px">Price</th>
        <th style="width: 250px">Discount Price</th>
        <th style="width: 250px">State</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="eachShoeData in shoeData" :key="eachShoeData.shoeId">
        <td>{{eachShoeData.model}}</td>
        <td>{{eachShoeData.shoePrice}}</td>
        <td>{{eachShoeData.discountPrice}}</td>
        <td>{{eachShoeData.state}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: 'NikeShoes',
  props: {
    title: String
  },
  data: () => {
    return {
      shoeData: {}
    }
  },
  methods: {
    async getShoeDatabase(reqOption) {
      const response = await fetch(`api/shoe/database`, reqOption)
      const database = await response.json()

      return database;
    },
    refreshTable() {
      // Simple POST request with a JSON body using fetch
      const requestOptions = {
        method: "GET",
        headers: { "Content-Type": "application/json" }
      };
      this.getShoeDatabase(requestOptions).then(shoeDatabase => {
      const fetchData = () => shoeDatabase.map(eachShoeDatabase => {
      fetch(`api/shoe-price/${eachShoeDatabase.shoeId}`, requestOptions)
          .then(response => {
            return response.json()
          })
          .then((res) => {
            let data = res
            if (typeof res === "string") {
              data = JSON.parse(res)
            }
            this.shoeData[eachShoeDatabase.shoeId] = {
              ...eachShoeDatabase,
              shoePrice: data.shoePrice,
              discountPrice: data.discountPrice,
              state: data.state
            }
          });
      });
      fetchData();
    })
    }

  },
  created() {
    this.refreshTable()
    // Refresh every 5s
    setInterval(() => {
      this.refreshTable()
    }, 5000);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
